/* 页脚透明 */
#footer {
  background: transparent !important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before {
  background: transparent !important;
}
.footer_custom_text {
  color: #000000;
}
.copyright {
    color: #000000;
  }